/* iPhone 7+ screen size*/

@media only screen and (max-width: 667px)
and (min-device-width: 375px) 
and (-webkit-min-device-pixel-ratio: 2) and (orientation:portrait){

body {
}

.blurb {
	width: 320px;
	margin-left: -38%;
	margin-top: 0px;
}

.grid {
	margin-top: 330px;
}

.hidden-nav {
	display: block;
}

.normal-nav {
	display: none;
}

.links {
	margin-top: 8rem;
	position: static;
	display: inline-block;
}

.about {
	position: static;
}


.n {
	height: 10rem;
}



.intro {
	margin-top: 200px;
}


.sleeve {
	background-size: 90% 85%;
}





.slc {
	transform: rotate(-90deg) scale(1.5);
}

.sleeve-container {
	padding-top: 9rem;
}

.x {
	top: 2rem;
	left: 1rem;
}




}






@media only screen and (max-width: 667px)
and (min-device-width: 375px) 
and (-webkit-min-device-pixel-ratio: 2) and (orientation:landscape){

.slc {
	transform: rotate(0deg) scale(1.2);
}


}





