@font-face {
  font-family: circular;
  src: url(../fonts/circular.otf);
}

@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700,700i&display=swap');



body {
	margin: 0;
	background-color: white;
	/*background-image: url(../images/Home-Screen.png);*/
	background-size: 100% 100%;
	background-position: center;
	font-size: 20px;
	overflow-x: hidden;
}

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

h2 {
	font-family: sans-serif;
	font-size: 40px;
	text-align: left;
	font-family: 'Josefin Sans', sans-serif;
	font-family: circular;
	color: #2d1809;
}



/* ------------------------- Nav bar ----------------------------- */

.n {
	display: block;
	position: fixed;
	width: 100%;
	height: 10rem;
	top: 0;
	opacity: 1;
	z-index: 100;
	background-color: white;
	text-align: center;
}

.hidden-nav {
	display: none;
}

.logo-mid {
	display: block;
	position: absolute;
	width: 40%;
	height: inherit;
	margin-left: 30%;
	pointer-events: none;
}

.logo {
	position: absolute;
	display: block;
	width: 165%;
	height: 18rem;
	margin-left: -32%;
	text-align: center;
}


.l {
	display: inline-block;
	width: 50rem;
	height: 12rem;
	margin-top: 3.6rem;
	border-radius: 1.5rem;
	border-style: dashed;
	border-width: 1.5px;
	border-color: red;
	text-align: center;
	transition: ease width 0.4s, ease height 0.4s;
	cursor: pointer;
	pointer-events: auto;
	transition: ease all 0.4s;
}


.title {
	display: inline-block;
	width: 14rem;
	height: 15rem;
	margin-top: -1.5rem;
	margin-left: 0.5rem;
	/*transition: ease all 0.4s;*/
	/*transition: ease height 0.4s, ease width 0.4s;*/
}

.t {
	display: block;
	width: inherit;
	height: 3rem;
	background-color: white;
	background-size: 95% 95%;
	background-position: center;
	background-repeat: no-repeat;
	/*transition: ease all 0.4s;*/
	margin-left: 0rem;

}

.t1 {
	background-image: url(../images/give-01.svg);
	margin-top: 0rem;
}

.t2 {
	background-image: url(../images/get-01.svg);
	margin-top: 9rem;
}

.vid {
	display: block;
	position: absolute;
	width: inherit;
	height: 9rem;
	margin-top: 1.5rem;
	opacity: 1;
	background-image: url(../images/wrote.gif);
	background-size: 90% 100%;
	background-position: center;
	background-repeat: no-repeat;
}


/* Styles for about page logo */

.n-about {
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	opacity: 1;
	z-index: 100;
	background-color: white;
	height: 10rem;
}

.l-about {
	display: inline-block;
	margin-top: 3.6rem;
	border-radius: 1.5rem;
	border-style: dashed;
	border-width: 1.5px;
	border-color: red;
	text-align: center;
	transition: ease width 0.4s, ease height 0.4s;
	cursor: pointer;
	pointer-events: auto;
	transition: ease all 0.4s;
	height: 2.6rem;
	width: 15rem;
}

.title-about {
	display: inline-block;
	margin-top: -1.5rem;
	margin-left: 0.5rem;
	height: 5rem;
	width: 10rem;
}

.t-about {
	display: block;
	background-color: white;
	background-size: 95% 95%;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 0rem;
	height: 3rem;
	width: 9rem;
}

.t1-about {
	background-image: url(../images/give-01.svg);
	margin-top: 0rem;
}

.t2-about {
	background-image: url(../images/get-01.svg);
	margin-top: -0.5rem;
}

.vid-about {
	display: none;
}



























.links {
	display: block;
	position: absolute;
	width: 15rem;
	right: 0;
	margin-right: 4%;
	height: 4.6rem;
}

.about {
	position: absolute;
	display: block;
	right: 0;
	bottom: 0;
	font-family: sans-serif;
	font-size: 0.9rem;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
	font-family: circular;
	color: #877666;
	z-index: 2000;
}


.about:hover {
	border-style: none;
	border-color: red;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	color: red;
}




.intro {
	display: block;
	position: absolute;
	width: 50%;
	height: 50px;
	margin-left: 25%;
	margin-top: 22rem;
	font-family: 'Bitter', serif;
}

.in {
	text-align: center;
	margin-top: 0px;
	margin-left: 0rem;
	line-height: 1.8rem;
	font-size: 1.1rem;
	font-family: 'Bitter', serif;
	font-family: 'Roboto Slab', serif;
	color: #877666;
}

li {
	text-align: left;
	margin-top: 0px;
	margin-left: 0rem;
	line-height: 1.8rem;
	font-size: 1.1rem;
	font-family: sans-serif;
	color: #877666;
	width: 500px;
}





















/* ------------------------- Main content -------------------------- */


.main {
	display: block;
	width: 98vw;
	height: 100vh;
	margin-left: 1vw;
	opacity: 1;
	z-index: 50;
}

.footer {
	display: block;
	width: 100%;
	height: 80px;
	background-color: white;
}

.grid {
	display: block;
	position: absolute;
	width: inherit;
	margin-top: 29rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.g {
	/* change width with media queries for float*/
	display: inline-block;
	float: none;
	width: 27rem;
	height: 11rem;
	margin-left: 0.5%;
	margin-right: 0.5%;
	margin-bottom: 2px;
	text-align: center;
	overflow: visible;
	cursor: pointer;
}

.sleeve {
	display: inline-block;
	width: 100%;
	height: inherit;
	background-image: url(../images/sleeve.png);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	background-position: center;
	transition: ease all 0.2s;
	cursor: pointer;
}

.sleeve:hover {
	/*background-size: 105% 105%;*/
	width: 110%;
	height: 110%;
	margin-left: -5%;
	margin-top: -5%;
}


.sleeve-big {
	position: absolute;
	display: block;
	width: 27rem;
	height: 11rem;
	background-image: url(../images/sleeve.png);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: ease all 1.2s;
	margin-top: 0vw;
}

/*
.sb {
	position: fixed;
	width: 110vw;
	height: 48vw;
	top: 0;
	z-index: 1000;
	left: -6vw;
	margin-top: 0vh;
}
*/

.sb {
	position: fixed;
	display: block;
	width: 100rem;
	height: 40rem;
	background-image: url(../images/sleeve.png);
	background-size: 90% 90%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: ease all 1.2s;
	z-index: 1000;
	margin-top: -20vw;
}









.v {
	display: block;
	width: 400px;
	height: 200px;
	background-color: yellow;
	z-index: 2000;
}



.sleeve-container {
	display: block;
	position: fixed;
	width: 94vw;
	margin-left: 3vw;
	margin-top: 3vw;
	height: 98vh;
	z-index: 2000;
	display: block;
	opacity: 1;
	background-color: rgba(255,255,255,0.85);
	display: none;
	transition: ease all 0.4s;
}

.sleeve-back {
	display: block;
	position: absolute;
	width: 110%;
	height: 110%;
	margin-top: -5%;
	margin-left: -5%;
	pointer-events: auto;
}


.x {
	display: block;
	position: absolute;
	width: 3.5rem;
	height: 3.5rem;
	left: 0;
	top: 0;
	background-image: url(../images/close.svg);
	background-size: 100% 100%;
	pointer-events: auto;
	cursor: pointer;
	color: #877666;
}

.x:hover {
	opacity: 0.5;
}





.slc {
	display: block;
	position: absolute;
	width: inherit;
	height: 38vw;
	margin-top: -2rem;
	transition: ease margin-top 0.6s, ease opacity 0.6s;
	opacity: 0;
	-webkit-clip-path: polygon(7.875% 86.9969040247678%,10.875% 85.13931888544892%,15.5% 82.35294117647058%,21.375% 79.56656346749226%,27.750000000000004% 77.39938080495357%,35.5% 75.23219814241486%,43.875% 74.30340557275542%,53% 73.9938080495356%,60% 74.30340557275542%,67.375% 75.54179566563467%,74.125% 77.70897832817337%,80.875% 81.11455108359134%,87% 84.21052631578947%,94.875% 82.35294117647058%,98.875% 44.27244582043344%,92.25% 32.19814241486068%,84.125% 26.93498452012384%,76.625% 23.52941176470588%,68.5% 21.36222910216718%,61.25000000000001% 20.123839009287924%,54.75% 19.5046439628483%,46.625% 19.5046439628483%,38.25% 20.43343653250774%,31.25% 21.981424148606813%,24.875% 23.8390092879257%,17.125% 26.93498452012384%,9% 31.269349845201237%,2.125% 35.60371517027864%);
	clip-path: polygon(7.875% 86.9969040247678%,10.875% 85.13931888544892%,15.5% 82.35294117647058%,21.375% 79.56656346749226%,27.750000000000004% 77.39938080495357%,35.5% 75.23219814241486%,43.875% 74.30340557275542%,53% 73.9938080495356%,60% 74.30340557275542%,67.375% 75.54179566563467%,74.125% 77.70897832817337%,80.875% 81.11455108359134%,87% 84.21052631578947%,94.875% 82.35294117647058%,98.875% 44.27244582043344%,92.25% 32.19814241486068%,84.125% 26.93498452012384%,76.625% 23.52941176470588%,68.5% 21.36222910216718%,61.25000000000001% 20.123839009287924%,54.75% 19.5046439628483%,46.625% 19.5046439628483%,38.25% 20.43343653250774%,31.25% 21.981424148606813%,24.875% 23.8390092879257%,17.125% 26.93498452012384%,9% 31.269349845201237%,2.125% 35.60371517027864%);
	pointer-events: none;
}


.s {
	display: block;
	position: absolute;
	width: inherit;
	height: inherit;
	background-image: url(../images/scans/slv_0000_S36.png);
	background-size: 100% 100%;
	pointer-events: all;
}





/* ABOUT PAGE STYLES */


.mb {
	background-color: orange;
}

.process-section {
	display: block;
	width: inherit;
	margin-bottom: 150px;
	text-align: center;
}

.pstop {
	height: 800px;
	background-color: orange;
}

.copy-sec {
	display: inline-block;
	width: 62.8%;
	background-color: white;
	text-align: left;
	margin-bottom: 50px;
}

.copy {
	text-align: left;
	width: 70%;
}

.side-copy {
	text-align: left;
}

.im-tall {
	display: inline-block;
	float: right;
	width: 450px;
	background-color: red;
	height: 800px;
	top: 0;
}

.left {
	display: inline-block;
	float: left;
	width: 45%;
	text-align: left;
}







.im {
	display: block;
	width: inherit;
	height: 450px;
	z-index: 100;
}

.wide-image {
	display: inline-block;
	width: 900px;
	height: inherit;
	background-color: red;
	background-size: 100% 100%;
	background-position: center;
}











.dots {
	display: block;
	position: absolute;
	opacity: 1;
	width: 100%;
	height: 1050px;
	margin-top: 225px;
	margin-left: 5vw;
	border-style: dashed;
	border-width: 2px;
	border-color: red;
	border-radius: 30px 0px 0px 30px;
	z-index: 50;
}



.pro {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
	margin-top: 0px;
}

.center {
	display: inline-block;
	width: 900px;
	height: inherit;
	height: 1500px;
}

.inner {
	position: absolute;
	display: block;
	width: inherit;
	height: inherit;
}

.pics {
	display: block;
	width: inherit;
	height: 400px;
	background-color: red;
	background-position: center;
	background-size: 100% 100%;
}

.content {
	margin-top: 50px;
	margin-bottom: 100px;
}

.dotted {
	display: block;
	position: absolute;
	width: 140%;
	height: 1100px;
	margin-top: 200px;
	margin-left: -150px;
	border-style: dashed;
	border-width: 2px;
	border-color: red;
	border-radius: 30px 0px 0px 30px;
}

.dotted-left-one {
	display: block;
	position: absolute;
	width: 66%;
	height: 1100px;
	border-style: dashed;
	border-width: 2px;
	border-color: red;
	border-radius: 0px 30px 30px 0px;
	left: 0;
	margin-top: 200px;
	margin-left: -2px;
}


.left-right {
	display: block;
	width: inherit;
	height: 800px;
	margin-top: 350px;
}

.left-right p {
	width: 400px;
}

.left, .right {
	display: inline-block;
	float: left;
}

.left {

}

.right {
	width: 450px;
	height: inherit;
	float: right;
	background-color: grey;
	background-size: 100% 100%;
}


.coffee-1 {
	background-image: url(../images/coffee-1.jpg);
}

.coffee-2 {
	background-image: url(../images/coffee-2.jpg);
}

.coffee-3 {
	background-image: url(../images/coffee-3.jpg);
}

.coffee-4 {
	background-image: url(../images/coffee-4.jpg);
}

.coffee-5 {
	background-image: url(../images/coffee-5.jpg);
}

.coffee-6 {
	background-image: url(../images/coffee-6.jpg);
}

.coffee-7 {
	background-image: url(../images/coffee-7.jpg);
}

.coffee-8 {
	background-image: url(../images/coffee-8.jpg);
}



.foot {
	display: block;
	width: 100%;
	height: 150px;
	float: left;
	text-align: center;
	margin-top: 40px;
}


.introduction {
	margin-top: 200px;
	height: 350px;
}

.to-home {
	text-align: center;
	cursor: pointer;
	font-size: 0.9rem;
	font-weight: 600;
	cursor: pointer;
	text-decoration: none;
	font-family: circular;
	color: #877666;
}

.to-home:hover {
	border-style: none;
	border-color: red;
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	color: red;
}


.homelink {
	background-color: white;
	width: 250px;
	height: 60px;
	opacity: 0;
	margin-top: 50px;
	position: absolute;
	z-index: 1200;
	pointer-events: auto;
	transition: ease opacity 0.2s;
}

.homelink:hover {
	opacity: 0.4;
}


.gall {
	display: inline-block;
	width: 15px;
	height: 15px;
	background-image: url(../images/gallery.svg);
	background-size: 100% 100%;
	margin-bottom: -2px;
}










